<html lang="en">

<head>
    <title>GoDJ</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="./css/options.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="content-flexbox"></div>
</body>
    <script src="./home.entry.js"></script>
</html>