<html lang="en">

<head>
    <title>Sign In - GoDJ</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="./css/options.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/signin.css">
    <link rel="stylesheet" href="./css/spotify.css">
</head>
<body>
    <div id="signin-wrapper"></div>
</body>
<script src="./signin.entry.js"></script>

</html>