<html lang="en">

<head>
    <title>GoDJ - Spotify Player</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="./css/options.css">
    <link rel="stylesheet" href="./css/signin.css">
    <link rel="stylesheet" href="./css/spotify.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="create-login"></div>
    <div id="create-signup"></div>
    <div id="cover"></div>
    <div id="content-flexbox">
        <div id="main-wrapper">
            <div class="hidden" id="access-token"><%= accessToken %></div>
            <div class="hidden" id="refresh-token"><%= refreshToken %></div>
            <div id="spotify-wrapper"></div>
        </div>
    </div>
</body>
    <script src="./spotify.entry.js"></script>
</html>