.options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
}
.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-shadow: 0 0 6px 2px #03e8fc;
    border: 1px solid #03e8fc;
}
.option-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: black;
    color: white;
    font-weight: bold;
    border-radius: 10px; 
    height: 25px;
    text-decoration: none;
    border: 1px solid #03e8fc;
    padding-top: 5px;
    color: #E53BF9;
    padding-right: 5%;
    padding-left: 5%;
}
.option-text:hover {
    text-decoration: none;
    background-color: rgba(229, 59, 249, 0.4);
    color: #03e8fc;
}
.option-img {
    height: 205px;
    width: 205px;
}

#header {
    font-weight: bold;
    text-shadow: 1.25px 1.25px 3.5px #03e8fc;
}

#subheader {
    font-style: oblique;
}