body {
    background: black;
    color: #E53BF9;
}

.container {
    display: flex;
    flex-direction: column;
}

#login-container {
    display: flex;
    flex-direction: column;
}

#form {
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

#form-box {
    margin-top: 50px;
    border-radius: 50%;
    border: 2.5px solid #03e8fc;
    box-shadow: 0 0 6px 2px #03e8fc;
    height: 600px;
    width: 600px;   
    display: flex;
    flex-direction: column;
    flex: column;
    justify-content: center;
    align-items: center;
}

.form-input {
    margin-bottom: 15px;
    color: #E53BF9;
    width: 325px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 2px #03e8fc;
}

.form-control {
    border: 1px solid #03e8fc;
    background-color: black;
    border-radius: 7.5px;
    margin-left: 5px;
    color: #E53BF9;
    font-size: 18;
}

#buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#signin-buttons {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.btn {
    margin-left: 50px;
    margin-right: 50px;
    background-color: black;
    color: #E53BF9;
    border: 1px solid #03e8fc;
    border-radius: 50%;
    padding: 20px;
    font-weight: bold;
}
.btn:hover {
    text-decoration: none;
    background-color: rgba(229, 59, 249, 0.4);
    color: #03e8fc;
}

#login-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#signin-text {
    text-shadow: 1px 1px 3px #03e8fc;
}

.btn {
    text-shadow: 0.6px 0.6px 2px #03e8fc;
}

#signup-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#cancel-btn {
    align-self: flex-start;
}

#lower-form-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}