#spotify-logo {
    height: 100px;
    width: 100px;
    align-self: flex-start;
}
#album-cover {
    height: 175px;
    width: 175px;
    box-shadow: 0 0 3px 1px #03e8fc;
    margin-bottom: 15px;
}
#now-playing {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #03e8fc;
    box-shadow: 0 0 6px 2px #03e8fc;
    flex-wrap: wrap;
    height: 450px;
    width: 450px;
    justify-content: center;
    margin-top: 45px;
}
#inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#device-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}
#song-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 275;
}
#song-container * {
    margin-bottom: 10px;
}
#song-name {
    font-size: 20;
}
#artist-name {
    font-size: 16;
}
#album-name {
    font-size: 16;
}
.queue-song {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px 1.33px #03e8fc;
    border: 1px solid #03e8fc;
    margin-bottom: 15px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

#spotify-queue {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}

.queue-inner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.queue-album-cover {
    height: 100px;
    width: 100px;
    margin: 10px;
}
 
#top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#signout {
    background-color: inherit;
    color: inherit;
    border: 1px solid #03e8fc;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}
#signout:hover {
    text-decoration: none;
    color: #03e8fc;
    border: 1px solid #E53BF9;
}

#no-data {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#spotify-wrapper {
    width: 100%;
}