body {
    background-color: black;
    color: #E53BF9;
}
#main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hidden {
    display: none;
}
#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid #03e8fc;
}
#ccs {
    text-shadow: 1px 1px 2.5px #03e8fc;
    align-self: flex-start;
    margin-left: 5%;
}
#header-title {
    margin-left: 10px;
    font-size: 28;
    text-decoration: none;
    color: #E53BF9;
    text-shadow: 1px 1px 2.5px #03e8fc;
}
#header-title:hover {
    color: #03e8fc;
    text-shadow: 1px 1px 2.5px #E53BF9;
}
.header-smol {
    margin-left: 25px;
    text-decoration: none;
    color: #E53BF9;
    text-shadow: 1px 1px 2.5px #03e8fc;
    font-size: 20;
}
.header-smol:hover {
    text-decoration: none;
    color: #03e8fc;
    text-shadow: 1px 1px 2.5px #E53BF9;
}
.signout {
    padding-right: 15px;
}
#header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 50px;
}
#back {
    height: 30px;
    width: 30px;
}
#back-btn-container {
    background: black;
    border: 0px;
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

#host-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}